/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .heroBanner {
    padding: 10rem;
  }
}

.avatar__subtitle {
  margin-top: auto;
  align-items: auto;
  justify-content: center;
  text-rendering: optimizeLegibility;
  color: var(--ifm-font-color-base);
 
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: var(--ifm-font-color-base);
  position: center;
}

.avatar__intro {
  text-align: justify;
}
.row .col.col--4 {
  --ifm-col-width: auto;
  --ifm-col-lenght: auto;
}
.row .col {
  --ifm-col-width: auto;
  --ifm-col-lenght: auto;
}