/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 10rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .heroBanner {
    padding: 20rem;
  }
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  left: 105px;

}

.button2 {
  display: flex;
  justify-content: right;
  position: absolute;
  right: 105px;
}

.avatar__subtitle {
  margin-top: auto;
  align-items: auto;
  justify-content: center;
  text-rendering: optimizeLegibility;
  color: var(--ifm-font-color-base);
 
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: var(--ifm-font-color-base);
}

.avatar__intro {
  text-align: justify;
}
.row .col.col--4 {
  --ifm-col-width: auto;
  --ifm-col-lenght: auto;
}
.row .col {
  --ifm-col-width: auto;
  --ifm-col-lenght: auto;
}