/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 25rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 2000px) {
  .heroBanner {
    padding: 200rem;
  }
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;

}

.button2 {
  display: flex;
  align-items: center;
  justify-content: right; 
  position: absolute
}
